@import "tailwindcss";

@plugin "daisyui" {
  themes: dracula --default, nord, dracula;
}

@plugin "daisyui/theme" {
  name: "dracula";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
}
